.post {
    width: 941px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 26px;
    padding: 15px 14px 24px 19px;
    position: relative;
    min-height: 600px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}

.post header {
    margin-bottom: 4px;
}

.post_flex_wrapper {
    display: flex;
}

h2.post_title {
    display: inline-block !important;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
    color: #1890ff !important;
    margin-bottom: -2px !important;
    max-width: 600px;
    margin-right: 13px;
}

.post_title {
    overflow-wrap: break-word;
}

.right {
    display: inline-flex;
    justify-content: space-between;
    & h3 {
        font-size: 18px;
        margin-bottom: -5px !important;
        line-height: 28px;
        white-space: nowrap;
    }
    & .date {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
        line-height: 22px;
        white-space: nowrap;
    }

    & img {
        height: 46px;
        width: 46px;
        padding-top: -10px;
        margin-left: 12px;
        border-radius: 50%;
    }
}

.post-like {
    font-size: 12px;
    vertical-align: top;
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
}

.article-likes img {
    padding-right: 5px;
}

header {
    display: flex;
    justify-content: space-between;
}

.tag {
    margin-top: 5px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 6px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 8px;
}

article.post_desc {
    margin-top: 16px;
    font-size: 12px;
    line-height: 22px;
    width: 682px;
    overflow-wrap: break-word;
    & p {
        margin-bottom: 0px;
    }
}

article.post_text {
    margin-top: 25px;
    overflow-wrap: break-word;
}

.heart_red {
    color: red !important;
}

.buttons_wrapper {
    position: absolute;
    top: 70px;
    width: 200px;
    right: -34px;
    & button {
        border: 1px solid;
        border-radius: 5px;
        padding: 6px;
        padding-left: 17px;
        padding-right: 17px;
    }
    & .delete_button {
        color: red;
        margin-right: 12px;
    }
    & .edit_button {
        color: #52c41a;
    }
}
